#cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2000; /* Ensure the cookie banner is above everything else */
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.4s, color 0.4s;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    min-height: 58.21rem;
    max-height: 58.21rem;
    padding: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 1000; /* Ensures footer is above other content but below cookie banner */
}

.flag {
    width: 24px;
    height: 16px;
    cursor: pointer;
    background-size: cover;
}

.flag:hover {
    opacity: 0.7;
}

.pl_flag {
    background-image: url('/images/pl_flag.png');
}

.uk_flag {
    background-image: url('/images/uk_flag.png');
}

.flag-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the flags */
}

/* Custom styles for current bills */
.card-text {
    margin: 0.5em 0;
    display: flex;
    justify-content: space-between;
}

.due-date {
    margin-left: 2em;
    color: #888;
}

.due-date-past {
    color: red;
}

/* Pogrubienie kwoty i terminu płatności */
span.ng-binding {
    font-weight: bold;
}

.due-date span.ng-binding {
    font-weight: bold;
}

/* Style dla jasnego motywu */
body.light-mode {
    background-color: white;
    color: black;
}

body.light-mode .pagination-container {
    background-color: white;
    color: black;
}

body.light-mode .pagination-container .pagination .page-link {
    background-color: white;
    color: black;
    border-color: #ccc;
}

body.light-mode .pagination-container .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

body.light-mode .pagination-container .pagination .page-link:hover {
    background-color: #e9ecef;
    color: #007bff;
}

/* Style dla paginacji */
.pagination .page-link {
    background-color: inherit;
    color: inherit;
    border: 1px solid #ccc;
    transition: background-color 0.4s, color 0.4s;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    color: #007bff;
}

/* Style dla ciemnego motywu */
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .navbar, body.dark-mode .footer {
    background-color: #333;
    color: white;
}

body.dark-mode .card {
    background-color: #333;
    color: white;
}

body.dark-mode .card .card-body {
    background-color: #333;
    color: white;
}

body.dark-mode .btn-primary {
    background-color: #555;
    border-color: #555;
}

body.dark-mode .btn-primary:hover {
    background-color: #666;
    border-color: #666;
}

body.dark-mode .pagination-container {
    background-color: #121212;
    color: white;
}

body.dark-mode .pagination-container .pagination .page-link {
    background-color: #333;
    color: white;
    border-color: #555;
}

body.dark-mode .pagination-container .pagination .page-item.active .page-link {
    background-color: #555;
    color: white;
    border-color: #555;
}

body.dark-mode .pagination-container .pagination .page-link:hover {
    background-color: #555;
    color: #666;
}

/* Styl dla slidera */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #292929;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.sun,
.moon {
    height: 26px;
    width: 26px;
    transition: transform 0.4s, opacity 0.4s;
    border-radius: 50%;
}

.sun {
    background-color: rgb(255, 226, 62); /* Słońce dla jasnego motywu */
}

.moon {
    background-color: #c4c4c4; /* Jaśniejszy księżyc */
    opacity: 0; /* Domyślnie ukryty */
    transform: translateX(-30px); /* Przesunięcie poza widok */
}

input:checked + .slider .sun {
    opacity: 0; /* Ukryj słońce */
    transform: translateX(30px); /* Przesunięcie poza widok */
}

input:checked + .slider .moon {
    opacity: 1; /* Pokaż księżyc */
    transform: translateX(0); /* Przesunięcie do widoku */
}

h2.card-title .small-id {
    font-size: 0.5em; /* Rozmiar czcionki mniejszy niż normalny */
    font-weight: normal;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Stack menu items vertically */
        align-items: center; /* Center menu items */
    }
    nav ul li {
        margin: 0.5em 0; /* Add margin between menu items */
    }
    .flag-container {
        flex-direction: row; /* Ensure flags are in a row on mobile */
        justify-content: center;
    }
    .flag {
        margin: 0 0.5em; /* Add more space between flags in mobile view */
    }
    .switch {
        margin: 0 0.5em; /* Add more space around the switch in mobile view */
    }
    section {
        padding: 1em; /* Reduce padding for better fit on mobile */
    }
    .pagination-container {
        position: relative;
        z-index: 2; /* Ensure the pagination is above the footer */
    }
    footer {
        position: relative;
    }
}

/* Media query for tablet devices */
@media (min-width: 769px) and (max-width: 1024px) {
    nav ul {
        flex-direction: column; /* Stack menu items vertically for tablets */
        align-items: center; /* Center menu items */
    }
    nav ul li {
        margin: 0.5em 0; /* Add margin between menu items for tablets */
    }
    .flag-container {
        flex-direction: row; /* Ensure flags are in a row on tablets */
        justify-content: center;
    }
    .flag {
        margin: 0 1.5em; /* Increase space between flags for tablet view */
    }
    .switch {
        margin: 0 1.5em; /* Increase space around the switch for tablet view */
    }
    section {
        padding: 1.5em; /* Adjust padding for better fit on tablets */
    }
    .pagination-container {
        position: relative;
        z-index: 2; /* Ensure the pagination is above the footer */
    }
    footer {
        position: relative;
    }
}

@media (min-height: 939px) {
    card-body {
        max-height: 9.36em;
    }
}

/* Move the heading from the navbar */
h1.ng-binding {
    margin-top: 0.5em; /* Adjust the margin to move it down from the navbar */
}